SECRET_KEY=your_secret_key_here

NODE_ENV=development

API_GATEWAY_PORT=4000
CLIENT_PORT=5173
POSTGRES_POST_PORT=5434
POSTGRES_USER_PORT=5433
POSTGRES_AUTH_PORT=5432
POSTGRES_DEFAULT_PORT=5432

VITE_API_BASE_URL=http://localhost:4000/api

AUTH_SERVICE_PORT=4001
USER_SERVICE_PORT=4002
POST_SERVICE_PORT=4003
REDIS_PORT=6379
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

DATABASE_URL_AUTH=postgres://authuser:authpassword@postgres_auth:5432/authdb
DATABASE_URL_USER=postgres://useruser:userpassword@postgres_user:5432/userdb
DATABASE_URL_POST=postgres://postuser:postpassword@postgres_post:5432/postdb

REDIS_URL=redis://host.docker.internal

RABBITMQ_URL=amqp://host.docker.internal
RABBITMQ_USER_EVENTS_QUEUE=user_events

POSTGRES_USER_POST=postuser
POSTGRES_PASSWORD_POST=postpassword
POSTGRES_DB_POST=postdb

POSTGRES_USER_USER=useruser
POSTGRES_PASSWORD_USER=userpassword
POSTGRES_DB_USER=userdb

POSTGRES_USER_AUTH=authuser
POSTGRES_PASSWORD_AUTH=authpassword
POSTGRES_DB_AUTH=authdb
