events {}

http {
    upstream auth-service {
        server auth-service:4001;
    }

    upstream user-service {
        server user-service:4002;
    }

    upstream post-service {
        server post-service:4003;
    }

     upstream search-service {
        server search-service:4004;
    }

    upstream message-service {
        server message-service:4005;
    }

    server {
        listen 4000;
        client_max_body_size 50M;
        error_page 401 =  @token_missing_or_invalid;
        error_page 403 = @token_blacklisted;
        error_page 500 = @server_error;

        location @token_missing_or_invalid {
            return 401 '{"message": "Token is missing or invalid"}';
        }

        location @token_blacklisted {
            return 403 '{"message": "Token is blacklisted"}';
        }

        location @server_error {
            return 500 '{"message": "Internal server error"}';
        }

        location /auth-check {
            internal;
            proxy_pass http://auth-service/validate;
            proxy_pass_request_body off; 
            proxy_set_header Content-Length "0";
            proxy_set_header X-Original-URI $request_uri;
            proxy_set_header X-Original-Method $request_method;

            error_page 401 = @token_missing_or_invalid;
            error_page 403 = @token_blacklisted;
        }

        location /api/auth/ {
            proxy_pass http://auth-service/;
        }

        location /api/users/ {
            auth_request /auth-check;
            auth_request_set $auth_status $upstream_status;
            auth_request_set $auth_user_data $upstream_http_x_auth_user_data;

            proxy_set_header X-Auth-User-Data $auth_user_data;
            add_header X-Auth-User-Data $auth_user_data always;

            proxy_pass http://user-service/;
        }

        location /api/posts/ {
            auth_request /auth-check;
            auth_request_set $auth_status $upstream_status;
            auth_request_set $auth_user_data $upstream_http_x_auth_user_data;

            proxy_set_header X-Auth-User-Data $auth_user_data;
            add_header X-Auth-User-Data $auth_user_data always;

            proxy_pass http://post-service/;
        }

        location /api/search/ {
            auth_request /auth-check;
            auth_request_set $auth_status $upstream_status;
            auth_request_set $auth_user_data $upstream_http_x_auth_user_data;

            proxy_set_header X-Auth-User-Data $auth_user_data;
            add_header X-Auth-User-Data $auth_user_data always;

            proxy_pass http://search-service/;
        }

        location /socket.io/ {
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_pass http://message-service/;
        }
    }
}
