events {}
http {
    upstream user-service {
        server user-service:4001;
    }

    upstream post-service {
        server post-service:4002;
    }

    server {
        listen 4000;

        location /user-service/ {
            proxy_pass http://user-service;
        }

        location /post-service/ {
            proxy_pass http://post-service;
        }
    }
}